@import '~bootstrap/scss/bootstrap.scss';
@import './colors.scss';
@import './dashboard.scss';
@import './navigationBar.scss';
@import './drawer/drawer.scss';
@import './drawer/drawerContent.scss';
@import './drawer/drawerUser.scss';
@import './drawer/drawerOreo.scss';
@import './product.scss';
@import './dashboard/productLayout.scss';
@import './dashboard/productReport.scss';
@import './dashboard/productAnalize.scss';
@import './dashboard/productAnnualAndTotal.scss';
@import './productList.scss';
@import './dashboard/productDetail.scss';
@import './dashboard/customerProfile.scss';
@import './dashboard/customer.scss';

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.loading-page{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $base-color;
    position: fixed;
    z-index: 900;
    display: flex;
    justify-content:center ;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    img{
        animation: spin 1.5s linear infinite;
    }
    animation: displayNone 2s;
}
@keyframes displayNone{
    0%{
        opacity: 1;
        visibility: visible;
    }
    90%{
        opacity: 1;
        visibility: visible;
    }
    99%{
        opacity: .1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}