.drawer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-gray;
  height: 50px;
  transition: all 0.2s;
  cursor: pointer;
  a {
    text-decoration: none;
    color: $color-gray;
    transition: all 0.3s;
    span {
      margin-top: 3px;
      font-weight: 300;
    }
  }
  a:hover {
    color: $base-color;
  }
  & > div {
    display: flex;
    align-items: center;
  }
  span {
    margin-top: 3px;
    font-weight: 300;
  }
  svg {
    font-size: 18px;
  }
  .icon-space {
    svg {
      padding-left: 5px;
      margin-right: 10px;
      font-size: 20px;
    }
  }
}
.active {
  color: $base-color;
  span {
    font-weight: 500;
  }
  a{
    span{
      font-weight: 500;
      color: $base-color;
    }
  }
}
.drawer-content:hover {
  color: $base-color;
}
.drawer-content:active {
  background-color: rgba($color: $base-color, $alpha: 0.6);
}

.content-height {
  height: 40px;
  padding-left: 3px;
}

.sub-content {
  height: 200px;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
.hide-content {
  height: 0px;
}
